<ion-view view-title="Dealer">
  <ion-content>

    <div class="centerDiv">
      <div class="row" ng-repeat="players in playersChunk">
        <div class="col col-25" ng-repeat="player in players" ng-if="player">
          <player ng-player="player"></player>
        </div>
      </div>
      <div class="padding-vertical">
        <div class="row text-center">
          <div class="col-20" ng-repeat='communityCard in communityCards track by $index' ng-if="!communityCard.isBurn">
            <community ng-community-card="communityCard"></community>
          </div>
        </div>
        <div class="row">
          <div class="col col-60">
            <div class="text-center">
              <button class="button button-assertive button-outline button-block button-small" ng-disabled="!showRemove(0);" ng-tap="removeCard(0);">Remove</button>
            </div>
          </div>
          <div class="col col-20">
            <div class="text-center">
              <button class="button button-assertive button-outline button-block button-small" ng-disabled="!showRemove(4);" ng-tap="removeCard(4);">Remove</button>
            </div>
          </div>
          <div class="col col-20">
            <div class="text-center">
              <button class="button button-assertive button-outline button-block button-small" ng-disabled="!showRemove(6);" ng-tap="removeCard(6);">Remove</button>
            </div>
          </div>
        </div>
      </div>


      <div class="row" ng-if="hasTurn" ng-show="remainingPlayers>1">
        <div class="col col-25 text-center">
          <button class="button button-dark button-block button-outline" ng-tap="showConfirmationModal('allIn');">All In</button>
        </div>
        <div class="col col-25 text-center">
          <button class="button button-dark button-block button-outline" ng-tap="raise();">Raise</button>
        </div>
        <div class="col col-25 text-center" ng-tap="check();" ng-if="isCheck">
          <button class="button button-dark button-block button-outline">Check</button>
        </div>
        <div class="col col-25 text-center" ng-tap="call();" ng-if="!isCheck">
          <button class="button button-dark button-block button-outline">Call</button>
        </div>
        <div class="col col-25 text-center" ng-tap="showConfirmationModal('fold');">
          <button class="button button-dark button-block button-outline">Fold</button>
        </div>
      </div>
      <div class="row" ng-if="!hasTurn" ng-show="remainingPlayers>1">
        <div class="col col-100 text-center">
          <button class="button button-royal button-block" ng-show="!showWinner" ng-tap="randomCard();">Serve Card</button>
          <button class="button button-royal button-block button-outline" ng-show="showWinner" ui-sref="winner">Show Winner</button>
        </div>
      </div>
      <div class="padding-vertical">
        <div class="row">
          <div class="col col-25 text-center">
          </div>
          <div class="col col-25 text-center">
          </div>
          <div class="col col-25 text-center" ng-tap="showConfirmationModal('newGame');">
            <button class="button button-assertive button-block button-outline">New</button>
          </div>
          <div class="col col-25 text-center" ng-tap="showConfirmationModal('undo');">
            <button class="button button-assertive button-block  button-outline">Undo</button>
          </div>
        </div>
      </div>


    </div>
  </ion-content>
</ion-view>