<ion-view view-title="Dealer">
  <ion-content class="bgImg">
    <div class="centerDiv">
      <div class="row" ng-repeat="players in playersChunk">
        <div class="col col-25" ng-repeat="player in players" ng-if="player">
          <player ng-player="player"></player>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-20" ng-repeat='communityCard in communityCards track by $index'>
          <community ng-community-card="communityCard"></community>
        </div>
      </div>

      <div class="row">
        <div class="col col-33 text-center" ng-click='move($index)'>
          <button class="button btn-start">Move</button>
        </div>

        <div class="col col-33 text-center" ng-click="foldUser();">
          <button class="button btn-start">Fold</button>
        </div>

        <div class="col-33 text-center" ui-sref='winner' ng-click="pageChange();">
          <button class="button btn-start">Show Winner</button>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>