<ion-view view-title="Dealer">
        
         <ion-content class="bgImg">
             <div class="centerDiv">
                     <div class="row text-center mar5 ">
                             <div class="col-25 col-sm-25 " >
                                 <div class="playerimg players">
                                         <img class="img-responsive " src="img/person.png" alt="">
                                         <h1>Player 1</h1>
                                 </div>
                                 
                             </div>
                             <div class="col-25" >
                                    <div class="playerimg players">
                                            <img class="img-responsive " src="img/person.png" alt="">
                                            <h1>Player 2</h1>
                                    </div>
                                    
                                </div>
                                <div class="col-25" >
                                        <div class="playerimg players">
                                                <img class="img-responsive " src="img/person.png" alt="">
                                                <h1>Player 3</h1>
                                        </div>
                                        
                                    </div>
                                    <div class="col-25" >
                                            <div class="playerimg players">
                                                    <img class="img-responsive " src="img/person.png" alt="">
                                                    <h1>Player 4</h1>
                                            </div>
                                            
                                        </div>
                         </div>

                         <div class="row text-center mar5">
                                <div class="col-25" >
                                    <div class="playerimg players">
                                            <img class="img-responsive " src="img/person.png" alt="">
                                            <h1>Player 5</h1>
                                    </div>
                                    
                                </div>
                                <div class="col-25" >
                                       <div class="playerimg players">
                                               <img class="img-responsive " src="img/person.png" alt="">
                                               <h1>Player 6</h1>
                                       </div>
                                       
                                   </div>
                                   <div class="col-25" >
                                           <div class="playerimg players">
                                                   <img class="img-responsive " src="img/person.png" alt="">
                                                   <h1>Player 7</h1>
                                           </div>
                                           
                                       </div>
                                       <div class="col-25" >
                                               <div class="playerimg players">
                                                       <img class="img-responsive " src="img/person.png" alt="">
                                                       <h1>Player 8</h1>
                                               </div>
                                               
                                           </div>
                            </div>
                            <div class="row ">
                                    <div class="col-50 text-center">
                                         <button class="button btn-start" >Move</button>
                                    </div>
                                    <div class="col-50 text-center">
                                         <button class="button btn-start">Fold</button>
                                  </div>
                 
                                </div>     
                                <div class="text-center">
                                        <button class="button btn-start" ui-sref="dealer">show</button>
                                    </div> 
                      
             </div>
           
            

         </ion-content>
     
       </ion-view>