<ion-view view-title="Table">
    <ion-content class="bgImg">
        <div class="mar-t">
        <div class="row">
            <div class="col-25">
                <div class="table-border">
                    <h2>Table 1</h2>
                </div>
            </div>
            <div class="col-25">
                <div class="table-border">
                    <h2>Table 2</h2>
                </div>
            </div>
            <div class="col-25">
                <div class="table-border">
                    <h2>Table 3</h2>
                </div>
            </div>
          <div class="col-25">
                <div class="table-border">
                    <h2>Table 4</h2>
                </div>
            </div>
        </div>
           <div class="row">
            <div class="col-25">
                <div class="table-border">
                    <h2>Table 5</h2>
                </div>
            </div>
            <div class="col-25">
                <div class="table-border">
                    <h2>Table 6</h2>
                </div>
            </div>
            <div class="col-25">
                <div class="table-border">
                    <h2>Table 7</h2>
                </div>
            </div>
          <div class="col-25">
                <div class="table-border">
                    <h2>Table 8</h2>
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>