<ion-view view-title="Table">
    <ion-content class="bgImg">
        <div class="row">
            <div class="col-25">
                <div class="table-border">
                    <h2 class="color-white">Table1</h2>
                </div>
            </div>
            <div class="col-25">
                <div>
                </div>
            </div>
            <div class="col-25">
                <div>
                </div>
            </div>
            <div class="col-25">
                <div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>