<ion-view view-title="Table" class="poker-bg">
    <ion-content class="few-pad">

        <div class="poker-table">
            <div class="row" ng-repeat="players in playersChunk">
                <div class="col col-25" ng-repeat="player in players">
                    <tab ng-player="player" ng-if="player"></tab>
                </div>
            </div>
        </div>
        <form>
            <div class="list poker-list">
                <label class="item item-input item-select" for="dealer">
                    <div class="input-label">
                        <i class="ion-ios-people"></i> Dealer
                    </div>
                    {{dealer.dealerPlayer}}
                    <select id="dealer" ng-model="dealer.dealerPlayer">
                        <option ng-repeat="p in activePlayers() track by $index" value="{{p.playerNo}}">Player {{p.playerNo}}</option>
                    </select>
                </label>
            </div>
            <div class="text-center">
                <button class="button button-balanced button-poker btn-start" ng-disabled="!dealer.dealerPlayer || !isDealerPlayerInActive(dealer.dealerPlayer) || (activePlayers().length<2)"
                    ng-click="makeDealer(dealer.dealerPlayer);">Start</button>
            </div>
        </form>
    </ion-content>
</ion-view>