<ion-view view-title="Dealer">
  <ion-content class="bgImg">
    <div class="centerDiv">
      <div class="row text-center">
        <div class="col-20" ng-repeat='communityCard in communityCards track by $index'>
          <community ng-community-card="communityCard"></community>
        </div>
      </div>
      <h1 class="winnersHead">Winner: {{winnerString}}
      </h1>
      <div ng-repeat="winner in winnerData" ng-if="winner">
        <winner-player ng-player="winner.playerObj" method="winner.type"></winner-player>
      </div>
      <div class="marb-30 text-center" ui-sref='table'>
        <button class="button btn-start">New Game</button>
      </div>
    </div>
  </ion-content>
</ion-view>