<ion-view view-title="Dealer" class="green-velvet-bg">
  <ion-content>
    <div class="centerDiv">
      <div class="row text-center">
        <div class="col-20" ng-repeat='communityCard in communityCards track by $index'>
          <community ng-community-card="communityCard"></community>
        </div>
      </div>
      <h1 class="winnersHead">Winner: {{winnerString}}
        <span ng-if="winners.length>1">(SPLIT POT)</span>
      </h1>
      <div ng-repeat="player in players" ng-if="player">
        <winner-player ng-player="player"></winner-player>
      </div>
      <div class="marb-30 text-center padding">
        <a class="button btn-start" ui-sref='table'>New Game</a>
      </div>
    </div>
  </ion-content>
</ion-view>