<ion-view view-title="Dealer">
    <ion-content class="bgImg">
      <div class="centerDiv">
            <h1 class="winnersHead">Winners</h1>
        <div class="row mar5 "  ng-init="a1=$index" >
 
          <div class="col"  ng-init="a=a1+'-'+$index" >{{player.length}}
            <!-- <label class="playerfold" ng-if="p.isFold">Fold</label> -->
            <!-- <label class="playerfold" ng-if="p.playerNo | declareWinner : winnerData" style="background:green">Winner</label> -->
            <div class="players text-center"  ng-class="{'selected' : p.isTurn} ">
              <div class="winner" >
              <img class="img-responsive playersimgbor" src="img/person.png" alt="">
              <!-- <div ng-show="p.isFold"></div> -->
              </div>
              <div class="row">
                <div class="col col-50">
                  <div class="users1Card">
                      <img class="users2CardImg img-responsive" src="img/download.jpeg" alt="">
                  </div>
                    
                </div>
                <div class="col col-50">
                    <div class="users2Card">
                        <img class="users2CardImg img-responsive" src="img/download.jpeg" alt="">
                    </div>
                </div>
              </div>
              
              <h2 class="winnerName">Player{{p.playerNo}}</h2>
              <label class="winnerMsg" for="">You won this game with High Cards</label>
            </div>
          </div>
         
           </div>
           <div class=" text-center" ui-sref='table'>
                <button class="button btn-start">New Game</button>
              </div>
     </div>
    </ion-content>
  </ion-view>
  