<ion-modal-view class="show-page custom-modal-page ">
    <ion-content>
        <div class="modal-sure">
            <h2>Are you sure you want to {{alluser}}</h2>
            <div class="sure-modal">
                <div class="row">
                    <div class="col col-25 text-center">
                    </div>
                    <div class="col col-25 text-center">
                        <button class="button button-balanced btn-start" ng-click="allFunctions()">Ok</button>
                    </div>
                    <div class="col col-33 text-center">
                        <button class="button button-assertive btn-start" ng-click="sureModalClose();">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>