<div style="position:relative;">
    <label class="playerfold" ng-if="player.isFold">Fold</label>
    <div class="players text-center" ng-class="{'player-turn':player.isTurn,'not-active':!player.isActive,'player-fold':player.isFold}">
        <div class="playerimg">
            <img class="img-responsive playersimgbor" src="img/person.png" alt="">
            <!-- <div ng-show="p.isFold"></div> -->
        </div>

        <div class="row" ng-if="player.cards.length==0">
            <div class="col col-50">
                <card card='"NONE"' ng-style="style" width="20" height="30"> </card>

            </div>
            <div class="col col-50">
                <card card='"NONE"' ng-style="style" width="20" height="30"> </card>
            </div>
        </div>
        <div class="row" ng-if="player.cards.length==1">
            <div class="col col-50">
                <card card='"DONE"' ng-style="style" width="20" height="30"> </card>

            </div>
            <div class="col col-50">
                <card card='"NONE"' ng-style="style" width="20" height="30"> </card>
            </div>
        </div>
        <div class="row" ng-if="player.cards.length==2">
            <div class="col col-50">
                <card card='"DONE"' ng-style="style" width="20" height="30"> </card>

            </div>
            <div class="col col-50">
                <card card='"DONE"' ng-style="style" width="20" height="30"> </card>
            </div>
        </div>


        <h2>Player {{player.playerNo}}</h2>
    </div>
</div>